### Import necessary packages

In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import mean_squared_error, r2_score

### Read Dataset

In [2]:
# You can read your own dataset or use our sample dataset
df = pd.read_csv("SampleDataset.csv", sep = ";")

In [3]:
df.head()

,TOA,Oil,MIBK,Temperature,Percentage,Aycicek,Misir,Keten,Badem,Susam,Hint,Citric,Glycolic,Malic
0,1.5,1.5,0,0.25,0.9231,0,0,1,0,0,0,0,0,1
1,1.5,1.5,0,0.25,0.9203,0,0,0,1,0,0,0,0,1
2,1.5,1.5,0,0.25,0.9211,0,0,0,0,1,0,0,0,1
3,1.5,1.5,0,0.25,0.9592,0,0,0,0,0,1,0,0,1
4,1.5,1.5,0,0.40,0.8614,1,0,0,0,0,0,0,0,1

In [4]:
# Percentage column is wanted to predict
# Split percentage column from dataset
X = df.drop("Percentage", axis = 1)
y = df["Percentage"]

### Split Dataset as train and test

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state= 42)

### Load ML Module

In [6]:
# Choose a model that you want to test from 12 pickle files
loaded_model = pickle.load(open("XGB_dataset_CV.pkl", 'rb'))

### Predict

In [7]:
y_pred = loaded_model.predict(X_test)

In [8]:
X_test

,TOA,Oil,MIBK,Temperature,Aycicek,Misir,Keten,Badem,Susam,Hint,Citric,Glycolic,Malic
8,1.5,1.5,0,0.40,0,0,0,0,1,0,0,0,1
1,1.5,1.5,0,0.25,0,0,0,1,0,0,0,0,1

### Evaluate your prediction according to MSE

In [10]:
np.sqrt(mean_squared_error(y_test, y_pred))

0.0034477473599516598

### Test with raw data

In [11]:
# Use sample one raw for test
df.head(1)

,TOA,Oil,MIBK,Temperature,Percentage,Aycicek,Misir,Keten,Badem,Susam,Hint,Citric,Glycolic,Malic
0,1.5,1.5,0,0.25,0.9231,0,0,1,0,0,0,0,0,1

In [12]:
# To predict percentage use columns except for percentage column
samples = [[1.5, 1.5, 0, 0.25, 0, 0, 1, 0, 0, 0, 0, 0, 1]]
sampledata = np.array(samples)

In [13]:
y_pred = loaded_model.predict(sampledata)

In [14]:
# Nearly same percentage result 0.9224 ~ 0.9231
y_pred

array([0.92241096], dtype=float32)